<nav>
  <ul>
    <li><%= link_to "Index Questions", questions_path  %></li>
    <li><%= link_to 'New Question', new_question_path %></li>
    <li><%= link_to 'Answers', answers_index_path %></li>
    <li>Edit?</li>
    <li>Update?</li>
    <li>Destroy?</li>
  </ul>
</nav>
