<div class="container">
  <div class="mt-10">
    <div class="panelplay">
      <div class="adminbodyresources">
        <%= render 'shared/navbaranswers' %>
        <h1>Editing Answer</h1>


        <%= render 'form', answer: @answer %>

        <%= link_to 'Back', :back %>

      </div>
    </div>
  </div>
</div>
