// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 8%, rgba(73,193,233,1) 12%, rgba(113,206,239,0.98) 16%, rgba(224,182,137,0.9) 30%, rgba(240,178,122,0.9) 32%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(8%, rgba(33,180,226,1)), color-stop(12%, rgba(73,193,233,1)), color-stop(16%, rgba(113,206,239,0.98)), color-stop(30%, rgba(224,182,137,0.9)), color-stop(32%, rgba(240,178,122,0.9)));
  background: -webkit-linear-gradient(45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 8%, rgba(73,193,233,1) 12%, rgba(113,206,239,0.98) 16%, rgba(224,182,137,0.9) 30%, rgba(240,178,122,0.9) 32%);
  background: -o-linear-gradient(45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 8%, rgba(73,193,233,1) 12%, rgba(113,206,239,0.98) 16%, rgba(224,182,137,0.9) 30%, rgba(240,178,122,0.9) 32%);
  background: -ms-linear-gradient(45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 8%, rgba(73,193,233,1) 12%, rgba(113,206,239,0.98) 16%, rgba(224,182,137,0.9) 30%, rgba(240,178,122,0.9) 32%);
  background: linear-gradient(45deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 8%, rgba(73,193,233,1) 12%, rgba(113,206,239,0.98) 16%, rgba(224,182,137,0.9) 30%, rgba(240,178,122,0.9) 32%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#f0b27a', GradientType=1 );
  color: #000000;
  background-repeat: repeat-y;
}
.panelplay{
  margin: 30px;
}

.card{
  background-color: #F1B371;
  border: 0.5px solid rgba(255,255,255,0.5);
 -webkit-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
}

.dropdown-menu{
  background-color: #F1B371;
}
.mt-10{
  margin-top: 100px;
}

.notificaciones{
  position: fixed;
  height: 100px;
  bottom: 60vh;
  width: 80%;
  left: 10px;
  z-index: 1;
}

.alert{
  margin-top: 0;
}
